name: Build and Push Docker Image

on:
  push:
    tags:
      - "*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # - name: Get tag
      #   id: tag
      #   uses: dawidd6/action-get-tag@v1
      #   with:
      #     strip_v: true
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4.0.0
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: moshedayan/chatgpt-telegram-bot:${{steps.tag.outputs.tag}}
